<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <inculed resource="org/springframework/boot/logging/logback/base.xml"/>
    <appender name="logstash" class="net.logstash.logback.appender.LogstashAccessTcpSocketAppender">
        <destination>localhost:5000</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <provider>
                <mdc/>
                <context/>
                <pattern>
                    <pattern>
                        {
                            "app": "test-log"
                        }
                    </pattern>
                </pattern>
                <threadName/>
                
            </provider>
        </encoder>
    </appender>

</configuration>